@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  font-weight: 500;
  font-size: 1rem;
  color: #59dcff;
  background-color: #202020;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}